[Unit]
Description=unas
After=network-online.target

[Service]
Type=simple
Slice=unas.slice
ExecStart=/var/packages/unas/target/package/start.sh
ExecStop==/var/packages/unas/target/package/start.sh
Restart=always
RestartSec=5
KillMode=process
